@mixin font-face($name, $weight, $url) {
    @font-face {
        font-family: $name;
        font-style: normal;
        src: url($url) format('truetype');
        font-weight: $weight;
    }
}

// Poppins
@include font-face('Poppins', 400, './Poppins/Poppins-Regular.ttf');
@include font-face('Poppins', 500, './Poppins/Poppins-Medium.ttf');
@include font-face('Poppins', 600, './Poppins/Poppins-SemiBold.ttf');

// Inter
@include font-face('Inter', 400, './Inter/Inter-Regular.ttf');
@include font-face('Inter', 500, './Inter/Inter-Medium.ttf');
@include font-face('Inter', 600, './Inter/Inter-SemiBold.ttf');

// $fonts: (
//     Poppins: (
//         regular: (
//             weight: 400,
//             url: './Poppins/Poppins-Regular.ttf'
//         ),
//         medium: (
//             weight: 500,
//             url: './Poppins/Poppins-Medium.ttf'
//         ),
//         semibold: (
//             weight: 600,
//             url: './Poppins/Poppins-SemiBold.ttf'
//         )
//     ),
//     Inter: (
//         regular: (
//             weight: 400,
//             url: './Inter/Inter-Regular.ttf'
//         ),
//         medium: (
//             weight: 500,
//             url: './Inter/Inter-Medium.ttf'
//         ),
//         semibold: (
//             weight: 600,
//             url: './Inter/Inter-SemiBold.ttf'
//         )
//     ),
// );

// @each $font-family, $styles in $fonts {
//     @each $style, $info in $styles {
//         @include font-face($font-family, map-get($info, weight), map-get($info, url));
//     }
// }