// Mixins for generate fonts
@mixin font-face($name, $weight, $url) {
    @font-face {
        font-family: $name;
        src: url($url) format('truetype');
        font-weight: $weight;
        font-style: normal;
        font-display: swap;
    }
}

// Poppins
@include font-face('Poppins', 400, 'src/shared/fonts/Poppins/Poppins-Regular.ttf');
@include font-face('Poppins', 500, 'src/shared/fonts/Poppins/Poppins-Medium.ttf');
@include font-face('Poppins', 600, 'src/shared/fonts/Poppins/Poppins-SemiBold.ttf');

// Inter
@include font-face('Inter', 400, 'src/shared/fonts/Inter/Inter-Regular.ttf');
@include font-face('Inter', 500, 'src/shared/fonts/Inter/Inter-Medium.ttf');
@include font-face('Inter', 600, 'src/shared/fonts/Inter/Inter-SemiBold.ttf');

// Mixins for export fonts
@mixin poppins-font($size, $weight) {
    font-family: 'Poppins', serif;
    font-weight: $weight;
    font-size: $size;
}

@mixin inter-font($size, $weight) {
    font-family: 'Inter', sans-serif;
    font-weight: $weight;
    font-size: $size;
}