@import '../../shared/variables/variables',
        '../../shared/adaptive/adaptive';

$adaptive: (
    desktop: (
        link: (size: 18px, weight: 500),
        search: (size: 15px, weight: 500)
    ),
    laptop: (
        link: (size: 13px, weight: 500),
        search: (size: 11px, weight: 500)
    )
);

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link {
        color: $text-medium-gray;
        text-transform: uppercase;
        text-decoration: none;
        @include set-adaptive-mixin($adaptive, inter-font, link);

        &:hover { text-decoration: underline; }
    }

    .search {
        background-color: $secondary-gray;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding: 15px;
        border-radius: 14px;

        input {
            background: transparent;
            border: none;
            @include set-adaptive-mixin($adaptive, poppins-font, search);

            &:focus { outline: none; }
        }
    }
}