// Adaptive breakpoints
$breakpoints: (
    desktop: (
        max: 1440px
    ),
    laptop: (
        max: 1024px
    ),
    mobile: (
        max: 375px
    ),
);

// Mixins for adaptive
@mixin breakpoint($point) {
    $min-width: map-get($breakpoints, $point, min);
    $max-width: map-get($breakpoints, $point, max);
      
    @media (min-width: $min-width) and (max-width: $max-width) {
      @content;
    }
}

@mixin set-adaptive($adaptive, $property: null, $attribute: null) {
    @each $breakpoint, $settings in $adaptive {
      @include breakpoint($breakpoint) {
        @if $property and $attribute {
          #{$property}: map-get($settings, $attribute);
        }
      }
    }
}